[Unit]
Description=Run btrfs-backup snapshot generation and upload
Requires=btrfs-snapshot.service
BindsTo=btrfs-send.service
After=btrfs-send.service
