[Unit]
Description=Generate btrfs-backup snapshots
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
User=emlun
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python /usr/local/bin/btrfs-backup.py snapshot
