[Unit]
Description=Upload btrfs-backup snapshots to remote server
Requires=local-fs.target
After=local-fs.target
After=btrfs-snapshot.service

[Service]
Type=oneshot
User=emlun
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python /usr/local/bin/btrfs-backup.py send
